<%= partial("subscribers/form.html") %>
<div id="modal-actions" class="flex gap-3 p-5 justify-between">
    <button type="button" @click="show = false" class=" w-full text-center justify-center bg-[#EEEEEE] px-4 h-8 rounded-lg hover:bg-[#EEEEEE]/75">Cancel</button>
    <button type="submit"  
    hx-put="/subscribers/<%= subscriber.ID %>"
    hx-trigger="click"
    hx-target="#modal"
    hx-include="[name='FirstName'],[name='LastName'],[name='Email'], [name='Active']"
    hx-swap="outerHTML"
    form="modal-invite-form" class="w-full bg-[#76ABAE] h-8 text-white px-4 py-2 rounded-md hover:bg-[#76ABAE]/50 focus:outline-none focus:shadow-outline-blue flex justify-center flex-col items-center">Save</button>
</div>