<div class="grid grid-cols-5 gap-4 ">
    <div class="col-span-1">
        <div class="flex flex-col gap-2 border rounded-lg p-5 border-[#31363F]">
            <label class="select-none text-sm text-slate-11 text-xs uppercase">Subscribers</label>
            <span class="text-2xl tracking-[-0.288px] text-slate-12 font-normal"><%= subscribersCount %></span>
        </div>
    </div>

    <div class="col-span-1">
        <div class="flex flex-col gap-2 p-5 border rounded-lg p-5 border-[#31363F]">
            <label class="select-none text-sm text-slate-11 text-xs uppercase">Unsubscribers</label>
            <span class="text-2xl tracking-[-0.288px] text-slate-12 font-normal"><%= unsubscribersCount %></span>
        </div>
    </div>
</div>