<div class="w-full text-[#EEEEEE] flex flex-col gap-4">
    <div class="flex justify-end">
        <button hx-get="/subscribers/new" hx-target="#modal" hx-trigger="click" hx-swap="outerHTML" type="button" class="bg-[#76ABAE] h-8 text-white px-4 py-2 rounded-md hover:bg-[#76ABAE]/50 focus:outline-none focus:shadow-outline-blue flex justify-center flex-col">
            Add Subscriber
        </button>
    </div>
    <div hx-get="/subscribers/indicators" hx-trigger="load" hx-target="this">
        <div class="grid grid-cols-5 gap-4 ">
            <div class="col-span-1">
                <div role="status" class="max-w-sm animate-pulse">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                </div>
            </div>
        
            <div class="col-span-1">
                <div role="status" class="max-w-sm animate-pulse">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"></div>
                    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-5 gap-2 pt-5">
        <input type="text" value="<%= term %>" hx-get="/subscribers" hx-include="this, [name='status']" hx-trigger="keyup changed delay:200ms" hx-target="#table" hx-swap="outerHTML" class="bg-[#31363F] rounded-lg text-[#EEEEEE] px-2 py-1 focus:ring-0 focus:border-0 focus:outline-0 col-span-3" placeholder="Search" name="term">
        <select name="status" id="" hx-get="/subscribers" hx-include="this, [name='term']" hx-trigger="change" hx-target="#table" hx-swap="outerHTML"  class="bg-[#31363F] rounded-lg text-[#EEEEEE] px-2 py-1 focus:ring-0 focus:border-0 focus:outline-0 col-span-2">
            <option value="all" <%= if (status == "all") { %>selected<% } %> >All</option>
            <option value="true" <%= if (status == "true") { %>selected<% } %> >Subscribed</option>
            <option value="false" <%= if (status == "false") { %>selected<% } %> >Unsubscribed</option>
        </select>
    </div>

    <%= partial("subscribers/table.html") %>
</div>