<footer class="py-3 flex flex-row justify-between items-center rounded-b-lg mt-5  text-[#EEEEEE]/75">
    <div class="text-xs">
        Page <%= list.Page %> of <%= list.TotalPages() %>
    </div>  
    <div class="flex flex-row gap-3">
        <a 
            <%= if (list.HasPrev()) { %>
                hx-get="<%= urlWithParam(currentURL, {"page": list.PrevPage()}) %>" hx-target="<%= hx_target %>" hx-swap="<%= swap %>"
            <% } %>
            class="<%= if (!list.HasPrev()){ %> opacity-50 disabled cursor-default <%} else {%> cursor-pointer <% } %> bg-[#31363F] shadow-sm p-1 px-3.5 rounded-lg flex flex-row items-center text-xs">
            Previous
        </a>

        <a
            <%= if (list.HasNext()) { %>
                hx-get="<%= urlWithParam(currentURL, {"page": list.NextPage()}) %>" hx-target="<%= hx_target %>" hx-swap="<%= swap %>"
            <% } %>
            class="<%= if (!list.HasNext()){ %> opacity-50 disabled cursor-default <%} else {%> cursor-pointer <% } %> bg-[#31363F] shadow-sm p-1 px-3.5 rounded-lg flex flex-row items-center text-xs">
            Next
        </a>
    </div>
</footer>