<div id="modal" class="w-full h-full flex flex-col justify-center items-center" >
    <div>
        <div id="modal-content" class="rounded-md p-5 rounded-xl bg-[#222831] max-w-5xl m-auto border border-[#31363F]" style="width: 400px;">
            <div id="modal-header" class="flex flex-col gap-4 p-5">
                <div class="flex justify-center items-center">
                    <div>
                        <h2 class="text-xl font-semibold text-[#EEEEEE]">Register your account</h2>
                    </div>

                </div>
            </div>
            <div id="modal-body" class="px-5">
                <form action="/register" method="POST" id="register">
                    <div class="mb-4">
                        <div class="flex flex-col gap-2">
                            <label for="" class="text-[#EEEEEE] text-sm">Email</label>
                            <input type="email" value="<%= user.Email %>" class="bg-[#31363F] rounded-lg text-[#EEEEEE] px-2 py-1 focus:ring-0 focus:outline-0 col-span-3 <%= if (errors) { %>
                                <%= if (errors["email"]) { %>
                                    border-red-500 border
                                <% } %>
                            <% } %>" placeholder="Email" name="Email" >
            
                            <%= partial("partials/input_error.html", {
                                errorName: "email",
                            }) %>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="flex flex-col gap-2">
                            <label for="" class="text-[#EEEEEE] text-sm">First Name</label>
                            <input type="text" value="<%= user.FirstName %>" class="bg-[#31363F] rounded-lg text-[#EEEEEE] px-2 py-1 focus:ring-0 focus:outline-0 col-span-3 <%= if (errors) { %>
                                <%= if (errors["first_name"]) { %>
                                    border-red-500 border
                                <% } %>
                            <% } %>" placeholder="First Name" name="FirstName" >
            
                            <%= partial("partials/input_error.html", {
                                errorName: "first_name",
                            }) %>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="flex flex-col gap-2">
                            <label for="" class="text-[#EEEEEE] text-sm">Last Name</label>
                            <input type="text" value="<%= user.LastName %>" class="bg-[#31363F] rounded-lg text-[#EEEEEE] px-2 py-1 focus:ring-0 focus:outline-0 col-span-3 <%= if (errors) { %>
                                <%= if (errors["last_name"]) { %>
                                    border-red-500 border
                                <% } %>
                            <% } %>" placeholder="Last Name" name="LastName" >
            
                            <%= partial("partials/input_error.html", {
                                errorName: "last_name",
                            }) %>
                        </div>
                    </div>
                </form>
            </div>
            
            <div id="modal-actions" class="flex gap-3 p-5 flex-col">
                <button 
                type="submit" form="register" class="w-full bg-[#76ABAE] h-8 text-white px-4 py-2 rounded-md hover:bg-[#76ABAE]/50 focus:outline-none focus:shadow-outline-blue flex justify-center flex-col items-center">Register</button>

                <div class="flex justify-center items-center">
                    <a href="/login" class="text-[#76ABAE]">Do you have an account? Login</a>
                </div> 
            </div>            
        </div>
    </div>
</div>