<div id="table">
    <% let users = list.Items %>
    <%= if (len(users) > 0) { %>
        <table class="min-w-full border-separate border-spacing-0 border-none text-left">
            <thead class="h-8 rounded-md bg-[#31363F]">
                <tr class="">
                    <th class="w-[399px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md">Email</th>
                    <th class="w-[399px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md">Name</th>
                    <th class="text-right w-[103px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md">Created</th>
                    <th class="w-[70px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md"></th>
                </tr>
            </thead>
            <tbody class="">
                <%= for (key, user) in users { %>
                    <tr class="">
                        <td class="py-3 h-10 truncate border-b border-b-[#31363F] px-3 text-sm">
                            <div class="group flex items-center gap-3">
                                <span hx-get="/users/<%= user.ID %>/edit" hx-target="#modal" hx-swap="outerHTML" hx-trigger="click" class="cursor-pointer border-b border-dashed border-slate-9 transition duration-300 ease-in-out group-hover:border-blue-9"><%= user.Email %></span>
                            </div>
                        </td>
                        <td class="h-10 truncate border-b border-b-[#31363F] px-3 text-sm">
                            <%= user.FirstName %> <%= user.LastName %>
                        </td>
                        <td class="text-right h-10 truncate border-b border-b-[#31363F] px-3 text-sm">
                            <span class="text-slate-11 text-xs"><%= user.CreatedAt.Format("Jan 02, 2006") %></span>
                        </td>
                        <td class="text-center h-10 border-b border-b-[#31363F] px-3 text-sm relative" x-data="{show:false}" @click.away="show=false">
                            <button @click="show=true" class="h-6 w-6 rounded" data-state="closed" aria-label="More actions" type="button" id="radix-:rp:" aria-haspopup="menu" aria-expanded="false">
                                <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12Z" fill="currentColor"></path><path d="M9 12C9 12.5523 8.55228 13 8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11C8.55228 11 9 11.4477 9 12Z" fill="currentColor"></path><path d="M17 12C17 12.5523 16.5523 13 16 13C15.4477 13 15 12.5523 15 12C15 11.4477 15.4477 11 16 11C16.5523 11 17 11.4477 17 12Z" fill="currentColor"></path>
                                </svg>
                            </button>

                            <ul  x-show="show" style="display: none;" class="absolute z-50 flex flex-col text-[#EEEEEE]/75 border border-[#EEEEEE]/30 rounded-lg text-start p-2 bg-[#222831]">
                                <li class="p-2 font-medium hover:bg-[#31363F] rounded-lg cursor-pointer" hx-get="/users/<%= user.ID %>/edit" hx-target="#modal" hx-swap="outerHTML" hx-trigger="click">Edit</li>
                                <li class="p-2 text-red-500 font-medium hover:bg-red-500 hover:text-red-100 rounded-lg cursor-pointer"
                                hx-delete="/users/<%= user.ID %>"
                                _="on htmx:confirm(issueRequest)
                                halt the event
                                call openConfirm(me)
                                if result.isConfirmed issueRequest() end" 
                                data-title="Delete User?"
                                data-description="Are you sure to delete this user?"
                                data-cancel="Cancel"
                                data-delete="Delete"
                                data-bgConfirmButton="bg-red-600">
                                Delete
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <%= partial("partials/pagination.html", {
            list: list,
            currentURL: currentURL,
            hx_target: "#table",
            swap: "outerHTML"
        }) %>
    <% } else { %>
        <div class="flex justify-center items-center flex-col justify-center h-64 border border-[#31363F] rounded-lg">
            <span class="text-white text-lg">No users yet</span>
            <span class="text-white text-sm">Add users and they will show up here.</span>
        </div>
    <% } %>
    
</div>